.background {
  background: url("/assets/images/mainBackground.jpg")no-repeat center center;
  background-size: cover;
}
.view {
  height: 100vh !important;
}
.top-nav-collapse {
  background-color: #3f51b5 !important;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #3f51b5 !important;
  }
}
.card {
  background-color: rgba(229, 228, 255, 0.2);
}
.md-form  {
  font-size: 1.25rem;
  margin-left: 0rem;
}
.md-form label {
  color: #ffffff;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 1040px;
  }
}
.mat-icon{
  transform: scale(0.8);
}
.transform-size{
  transform: scale(0.5);
}
.avatar-image{
  max-height: 2.5rem;
  max-width: 2.5rem;
}

.register-panel{
  padding-right: 0%;
}

.helper-size{
  font-size: 12px;
}

.font-color{
 color:rgb(32, 29, 29);
 font-size: 2.5vh;
}

#backgroundImage {
  width: 100vw;
  height: 100vh;
  background-image: url("/assets/images/mainBackground.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

mat-card {
  width: 30%;
  margin: 10% auto;
  border-radius: 8px;
}
mat-form-field, mat-checkbox {
  width: 80%;
  display: block;
  margin: auto;
}
mat-card-content {
  margin-top: 20px;
}

.login-button {
  margin-top: 20px;
  display: block;
  width: 80;
  margin: 20px auto;
}

.companyName{
  font-size: 150%;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mat-toolbar{
height: 7vh;
overflow: auto;
background-color:rgb(10, 89, 120);
}

div {
  overflow: inherit;
}

.mat-sidenav-container{
background-color: rgb(230, 207, 197);
min-height: 93vh !important;
}

a{
  text-decoration: none;
  white-space: normal;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
}

.divider{
  width:30px;
  height:auto;
  display:inline-block;
}

.mat-tab-label {

  background-color: red;

}
.margins{
  padding-left: 0;
  padding-right: 0;
}

.non-scrollable{
  overflow: hidden;
}

.credentials-panel{
  height: 480px;
  width: 300px;
}

.sign-in-textboxs{
  height: 290px;
}

.sign-up-textboxs{
  height: 235px;
}

.credentials-button-div{
  display: flex;
  height: 50px;
  align-items: center;
}

.div-center{
  display: flex;
  align-items: center;
}

.element-center{
  display: block;
  margin:0 auto;
}