<!--Main Navigation-->
<header>

  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand wow zoomIn" data-wow-delay="0.3s" href="#"><strong>MessageChad</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <div height="auto" (mouseover)="setButtonText(buttonEnumType.home)"
          (mouseout)="setButtonText(buttonEnumType.none)">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" href="#">
              <mdb-icon fas icon="home"></mdb-icon>
              <span *ngIf="btType==buttonEnumType.home">Home</span>
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </div>
        <div height="auto" (mouseover)="setButtonText(buttonEnumType.info)"
          (mouseout)="setButtonText(buttonEnumType.none)">
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="#/info">
              <mdb-icon fas icon="exclamation-circle"></mdb-icon><span *ngIf="btType==buttonEnumType.info">Info</span>
            </a>

        </div>

      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item waves-light" mdbWavesEffect style="align-self: center;">
          <a class="nav-link">
            <mat-icon [ngStyle]="{'color':'white'}" matBadge="{{unreadMessages}}" matBadgeColor="warn">mail_outline
            </mat-icon>
          </a>
        </li>

        <li class="nav-item avatar dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <img class="transform-size" src="/assets/images/photo.jpg"
              class="rounded-circle z-depth-0 avatar-image"></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
          </div>
        </li>

      </ul>
    </links>
  </mdb-navbar>


  <!--Section-->
  <section class="view background">
    <div class="container flex-center">
      <div class="d-flex align-items-left content-height w-100" role="navigation">
        <mat-tab-group mat-streach-tabs class="example-streched-tabs white-text">
          <mat-tab label="Sign Up" class="white-text">
            <mat-card-content>
              <div class="non-scrollable" role="navigation">
                <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                  <mdb-card-body class="credentials-panel">
                    <div class="text-center">
                      <h1 class="white-text">
                        Sign up
                      </h1>
                      <p class="grey-text">Please fill in this form to create an account!</p>
                    </div>
                    <div class="sign-up-textboxs">
                      <div>
                        <div class="md-form">
                          <mdb-icon fas icon="user" class="prefix text-white active"></mdb-icon>
                          <input type="text" id="form" class="text-white form-control" mdbInput>
                          <label for="form" class="text-white">Your name</label>
                        </div>
                      </div>
                      <div class="md-form">
                        <mdb-icon fas icon="envelope" class="prefix text-white active"></mdb-icon>
                        <input type="email" id="form1" class="text-white form-control" mdbInput>
                        <label for="form1" class="text-white">Your email</label>
                      </div>
                      <div class="md-form">
                        <mdb-icon fas icon="key" class="prefix text-white active"></mdb-icon>
                        <input type="password" id="form2" class="text-white form-control" mdbInput>
                        <label for="form2" class="text-white">Your password</label>
                      </div>


                      <div class="grey-text form-check d-flex mb-4">
                        <input class="form-check-input me-2" type="checkbox" id="registerCheck" unchecked />
                        <label class="form-check-label" for="registerCheck">
                          I have read and agree to the terms
                        </label>
                      </div>
                    </div>

                    <div class="text-center mt-4 credentials-button-div">
                      <button class="element-center" mdbBtn color="info" mdbWavesEffect>
                        <div class="font-color">
                          Sign up
                        </div>
                      </button>

                    </div>
                  </mdb-card-body>
                </mdb-card>


              </div>
            </mat-card-content>
          </mat-tab>
          <mat-tab label="Sign In" class="white-text">
            <mat-card-content>
              <div class=" non-scrollable" role="navigation">
                <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                  <mdb-card-body class="credentials-panel">
                    <div class="text-center">
                      <h1 class="white-text">
                        Sign In
                      </h1>
                    </div>
                    <div class="sign-in-textboxs">
                      <div class="md-form">
                        <mdb-icon fas icon="envelope" class="prefix text-white active"></mdb-icon>
                        <input type="email" id="form1" class="text-white form-control" mdbInput>
                        <label for="form1" class="text-white">Your email</label>
                      </div>
                      <div class="md-form">
                        <mdb-icon fas icon="key" class="prefix text-white active"></mdb-icon>
                        <input type="password" id="form2" class="text-white form-control" mdbInput>
                        <label for="form2" class="text-white">Your password</label>
                      </div>
                    </div>
                    <div class="text-center mt-4 credentials-button-div">
                      <button class="element-center" mdbBtn color="info" mdbWavesEffect>
                        <div class="font-color">
                          Sign in
                        </div>
                      </button>
                    </div>
                  </mdb-card-body>
                </mdb-card>
              </div>
            </mat-card-content>
          </mat-tab>
        </mat-tab-group>
        <!-- <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
          <li class="nav-item" role="presentation">
            <a
              class="nav-link active"
              id="tab-register"
              data-mdb-toggle="pill"
              href="#pills-register"
              role="form"
              aria-controls="pills-register"
              aria-selected="true"
              data-mdb-toggle="tab"
              >Register</a
            >
          </li>
            <li class="nav-item" role="presentation">
              <a
                class="nav-link"
                id="tab-login"
                data-mdb-toggle="pill"
                href="#pills-login"
                role="form"
                aria-controls="pills-login"
                aria-selected="false"
                data-mdb-toggle="tab"
                >Login</a
              >
            </li>
        </ul> -->


        <!-- <form 
          class="tab-pane fade white-tex active" 
          id="pills-login"
          role="tabpanel" 
          aria-labelledby="tab-login"
        >
          Tab 2 content
        </form>
        <form
          class=" white-text tab-pane fade show"
          id="pills-register" 
          role="form"
          aria-labelledby="tab-register"
        >
          olaaa
        </form> -->

        <!-- <div class="row w-100 register-panel">
            <div class="col-md-6 col-xl-5 ">
            
              <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                <mdb-card-body>
            
                  <div class="text-center">
                    <h1 class="white-text">
                      <mdb-icon fas icon="file-signature" class="text-white"></mdb-icon> Sign up:
                    </h1>
                    <p class="grey-text">Please fill in this form to create an account!</p>
                  </div>
               
                  <div>   
                    <div class="md-form">                 
                      <mdb-icon fas icon="user" class="prefix text-white active"></mdb-icon>
                      <input type="text" id="form" class="text-white form-control" mdbInput>
                      <label for="form" class="text-white">Your name</label>
                    </div>
                  </div>
                  <div class="md-form">
                    <mdb-icon fas icon="envelope" class="prefix text-white active"></mdb-icon>
                    <input type="email" id="form1" class="text-white form-control" mdbInput>
                    <label for="form1" class="text-white">Your email</label>
                  </div>
                  <div class="md-form">
                    <mdb-icon fas icon="key" class="prefix text-white active"></mdb-icon>
                    <input type="password" id="form2" class="text-white form-control" mdbInput>
                    <label for="form2" class="text-white">Your password</label>
             
          
                  </div>

               
                  <div class="grey-text form-check d-flex mb-4">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      id="registerCheck"
                      unchecked
                    />
                    <label class="form-check-label" for="registerCheck">
                      I have read and agree to the terms
                    </label>
                  </div>

                  <div class="text-center mt-4">
                    <button mdbBtn color="info" mdbWavesEffect>
                      <div class="font-color">
                        Sign up
                      </div>
                    </button>
      
                  </div>
                </mdb-card-body>
              </mdb-card>
             
            </div>
          </div> -->
      </div>
    </div>
  </section>

</header>


<!--Main Navigation-->