<!--Main Navigation-->
<header>

  <!--Navbar-->
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand wow zoomIn" data-wow-delay="0.3s" href="#"><strong>MessageChad</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <div height="auto" (mouseover)="setButtonText(buttonEnumType.home)"
          (mouseout)="setButtonText(buttonEnumType.none)">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" href="#">
              <mdb-icon fas icon="home"></mdb-icon>
              <span *ngIf="btType==buttonEnumType.home">Home</span>
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </div>
        <div height="auto" (mouseover)="setButtonText(buttonEnumType.info)"
          (mouseout)="setButtonText(buttonEnumType.none)">
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="#/info">
              <mdb-icon fas icon="exclamation-circle"></mdb-icon><span *ngIf="btType==buttonEnumType.info">Info</span>
            </a>

        </div>

      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item waves-light" mdbWavesEffect style="align-self: center;">
          <a class="nav-link">
            <mat-icon [ngStyle]="{'color':'white'}" matBadge="{{unreadMessages}}" matBadgeColor="warn">mail_outline
            </mat-icon>
          </a>
        </li>

        <li class="nav-item avatar dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <img class="transform-size" src="/assets/images/photo.jpg"
              class="rounded-circle z-depth-0 avatar-image"></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
          </div>
        </li>

      </ul>
    </links>
  </mdb-navbar>

  <!--Intro Section-->
  <section class="view intro-2">
    <div class="full-bg-img mask rgba-gradient">
      <div class="container flex-center">
        <div class="d-flex align-items-left content-height w-100">
          <div class="row w-100 register-panel">
            <div class="col-md-6 col-xl-5">
              <!--Form-->
              <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                <mdb-card-body>
                  <!--Header-->
                  <div class="text-center">
                    <h3 class="white-text">
                      <mdb-icon fas icon="user" class="text-white"></mdb-icon> Register:
                    </h3>
                    <hr class="hr-light">
                  </div>
                  <!--Body-->
                  <div class="md-form">
                    <mdb-icon fas icon="user" class="text-white active"></mdb-icon>
                    <input type="text" id="form3" class="text-white form-control" mdbInput>
                    <label for="form3" class="text-white">Your name</label>
                  </div>
                  <div class="md-form">
                    <mdb-icon fas icon="envelope" class="text-white active"></mdb-icon>
                    <input type="email" id="form2" class="text-white form-control" mdbInput>
                    <label for="form2" class="text-white">Your email</label>
                  </div>
                  <div class="md-form">
                    <mdb-icon fas icon="lock" class="text-white active"></mdb-icon>
                    <input type="password" id="form4" class="text-white form-control" mdbInput>
                    <label for="form4" class="text-white">Your password</label>
                  </div>
                  <div class="text-center mt-4">
                    <button mdbBtn color="indigo" mdbWavesEffect>Sign up</button>
                    <hr class="hr-light mb-3 mt-4">
                    <div class="inline-ul text-center d-flex justify-content-center">
                      <a class="p-2 m-2 tw-ic">
                        <mdb-icon fab icon="twitter" class="text-white"></mdb-icon>
                      </a>
                      <a class="p-2 m-2 li-ic">
                        <mdb-icon fab icon="linkedin-in" class="text-white"></mdb-icon>
                      </a>
                      <a class="p-2 m-2 ins-ic">
                        <mdb-icon fab icon="instagram" class="text-white"></mdb-icon>
                      </a>
                    </div>
                  </div>
                </mdb-card-body>
              </mdb-card>
              <!--/.Form-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</header>
<!--Main Navigation-->